*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

/* inicio header */

.header__logo{
    width: 55px;
    height: 55px;
}
.header__title{
    font-weight: 900px;  
    font-style:italic;
    color: #000000;

    }

/* inicio novedades */
.container{

}

.novedades__body{
display: flex;
flex-direction: column;
}

.novedades__title{

}


.novedades__image{

}
.novedades__date{

}
.novedades__descriptions{

}